In [22]:
import pandas as pd
import requests
from io import StringIO

In [6]:


def read_http(http_url) -> pd.DataFrame:
    response = requests.get(http_url)
    content = response.text
    content = content.replace("\t", ",").replace(",:", ",0")
    return pd.read_csv(StringIO(content), delimiter=",")

In [ ]:

df = read_http("https://ec.europa.eu/eurostat/api/dissemination/sdmx/3.0/data/dataflow/ESTAT/sbs_sc_ovw/1.0?compress=false&format=csvdata&formatVersion=2.0&lang=en&labels=name")
df.to_csv("./estat_sbs_sc_ovw_en.csv")
df.columns

In [9]:
df = pd.read_csv("./estat_sbs_sc_ovw_en.csv")
print(df.columns)
print(df["indic_sbs"].unique())
df[["nace_r2", "geo", "size_emp", "indic_sbs"]].head()

Index(['STRUCTURE', 'STRUCTURE_ID', 'STRUCTURE_NAME', 'freq', 'Time frequency',
       'indic_sbs', 'Economical indicator for structural business statistics',
       'nace_r2',
       'Statistical classification of economic activities in the European Community (NACE Rev. 2)',
       'size_emp', 'Size classes in number of persons employed', 'geo',
       'Geopolitical entity (reporting)', 'TIME_PERIOD', 'Time', 'OBS_VALUE',
       'Observation value', 'OBS_FLAG',
       'Observation status (Flag) V2 structure', 'CONF_STATUS',
       'Confidentiality status (flag)'],
      dtype='object')
['AVG_EXPN_SAL_BEN_TEUR' 'AV_HW_EUR' 'AV_MEUR' 'AV_MFG_PC' 'AV_SAL_TEUR'
 'AV_VAL_OUT_PC' 'EMP_ENT_NR' 'EMP_MFG_PC' 'EMP_NR' 'ENT_NR'
 'EXPN_SAL_BEN_HW_EUR' 'EXPN_SAL_BEN_MEUR' 'EXPN_SAL_BEN_PUR_PC'
 'EXPN_SAL_BEN_VAL_OUT_PC' 'GOR_PC' 'GOS_AV_PC' 'GOS_MEUR' 'GRW_EMP_PC'
 'HW_NR' 'LABPRY_TEUR' 'LC_AV_PC' 'LC_EMP_TEUR' 'NETTUR_EMP_TEUR'
 'NETTUR_MEUR' 'NETTUR_MFG_PC' 'PUR_MEUR' 'SAL_EMP_PC' 'SAL_NR'
 'SS_COST_EXPN_SAL_BEN_PC' 'SS_COST_MEUR' 'VAL_OUT_MEUR' 'VAL_OUT_MFG_PC'
 'WAGE_LABPRY_PC' 'WAGE_MEUR']

  nace_r2 geo size_emp              indic_sbs
0       B  AL      0-9  AVG_EXPN_SAL_BEN_TEUR
1       B  AL      0-9  AVG_EXPN_SAL_BEN_TEUR
2       B  AT      0-9  AVG_EXPN_SAL_BEN_TEUR
3       B  AT      0-9  AVG_EXPN_SAL_BEN_TEUR
4       B  BA      0-9  AVG_EXPN_SAL_BEN_TEUR

In [26]:
url="https://ec.europa.eu/eurostat/api/dissemination/sdmx/3.0/data/dataflow/ESTAT/tour_lfs1r2$defaultview/1.0?compress=false&format=csvdata&formatVersion=2.0&lang=en&labels=name"

df = pd.read_csv(url)
df.columns

Index(['STRUCTURE', 'STRUCTURE_ID', 'STRUCTURE_NAME', 'freq', 'Time frequency',
       'nace_r2',
       'Statistical classification of economic activities in the European Community (NACE Rev. 2)',
       'wstatus', 'Labour force and employment status', 'worktime',
       'Working time', 'unit', 'Unit of measure', 'geo',
       'Geopolitical entity (reporting)', 'TIME_PERIOD', 'Time', 'OBS_VALUE',
       'Observation value', 'OBS_FLAG',
       'Observation status (Flag) V2 structure', 'CONF_STATUS',
       'Confidentiality status (flag)'],
      dtype='object')

In [28]:
url = "https://ec.europa.eu/eurostat/api/dissemination/sdmx/3.0/data/dataflow/ESTAT/urb_cecfi/1.0/*.*.*?c[freq]=A&c[indic_ur]=EC2021V,EC2039V&c[cities]=BE,BE001C,BE002C,BE003C,BE004C,BE005C,BE006C,BE007C,BE008C,BE009C,BE010C,BE011C,BG,BG001C,BG002C,BG003C,BG004C,BG005C,BG006C,BG007C,BG008C,BG009C,BG010C,BG011C,BG012C,BG013C,BG014C,BG015C,BG016C,BG017C,BG018C,CZ,CZ001C,CZ002C,CZ003C,CZ004C,CZ005C,CZ006C,CZ007C,CZ008C,CZ009C,CZ010C,CZ011C,CZ012C,CZ013C,CZ014C,CZ015C,CZ016C,CZ017C,CZ018C,DK,DK002C,DK003C,DK004C,DE,DE001C,DE002C,DE003C,DE004C,DE005C,DE006C,DE007C,DE008C,DE009C,DE010C,DE011C,DE012C,DE013C,DE014C,DE015C,DE016C,DE017C,DE018C,DE019C,DE020C,DE021C,DE022C,DE023C,DE024C,DE025C,DE026C,DE027C,DE028C,DE029C,DE030C,DE031C,DE032C,DE033C,DE034C,DE035C,DE036C,DE037C,DE038C,DE039C,DE040C,DE041C,DE045C,DE049C,DE052C,DE053C,DE056C,DE058C,DE059C,DE063C,DE064C,DE066C,DE067C,DE074C,DE077C,DE078C,DE079C,DE080C,DE081C,DE082C,DE083C,DE084C,DE085C,DE086C,DE087C,DE088C,DE089C,DE090C,DE091C,DE092C,DE093C,DE094C,DE095C,DE096C,DE097C,DE098C,DE099C,DE100C,DE101C,DE102C,DE103C,DE104C,DE105C,DE106C,DE107C,DE108C,DE109C,DE110C,DE111C,DE112C,DE113C,DE114C,DE115C,DE116C,DE117C,DE118C,DE119C,DE120C,DE121C,DE122C,DE123C,DE124C,DE125C,EE,EE001C,EE002C,EE003C,EL,EL001C,EL002C,EL003C,EL004C,EL005C,EL006C,EL007C,EL008C,EL009C,ES,ES001C,ES002C,ES003C,ES004C,ES005C,ES006C,ES007C,ES008C,ES009C,ES010C,ES011C,ES012C,ES013C,ES014C,ES015C,ES016C,ES017C,ES018C,ES020C,ES021C,ES022C,ES023C,ES024C,ES025C,ES026C,ES027C,ES028C,ES029C,ES030C,ES031C,ES032C,ES033C,ES034C,ES035C,ES036C,ES037C,ES038C,ES039C,ES040C,ES041C,ES042C,ES043C,ES044C,ES045C,ES046C,ES047C,ES048C,ES049C,ES050C,ES051C,ES052C,ES053C,ES054C,ES055C,ES056C,ES057C,ES058C,ES059C,ES060C,ES061C,ES062C,ES063C,ES064C,ES065C,ES066C,ES067C,ES068C,ES069C,ES070C,ES071C,ES072C,ES073C,ES074C,ES075C,ES076C,ES077C,ES078C,ES079C,ES080C,ES081C,ES082C,ES083C,ES084C,ES085C,ES086C,ES087C,ES088C,ES089C,ES090C,ES091C,ES092C,ES093C,ES094C,ES095C,ES096C,ES097C,ES098C,FR,FR001C,FR002C,FR003C,FR004C,FR005C,FR006C,FR007C,FR008C,FR009C,FR010C,FR011C,FR012C,FR013C,FR014C,FR015C,FR016C,FR017C,FR018C,FR019C,FR020C,FR021C,FR022C,FR023C,FR024C,FR025C,FR026C,FR027C,FR028C,FR029C,FR030C,FR031C,FR032C,FR033C,FR034C,FR035C,FR036C,FR037C,FR038C,FR039C,FR040C,FR041C,FR042C,FR043C,FR044C,FR045C,FR046C,FR047C,FR048C,FR049C,FR050C,FR051C,FR052C,FR053C,FR054C,FR055C,FR056C,FR057C,FR058C,FR059C,FR060C,FR061C,FR062C,FR063C,FR064C,FR065C,FR066C,FR067C,FR068C,FR069C,FR070C,FR071C,FR072C,FR073C,FR074C,FR075C,FR076C,FR077C,HR001C,HR002C,HR003C,HR004C,HR005C,HR006C,HR007C,IT,IT001C,IT002C,IT003C,IT004C,IT005C,IT006C,IT007C,IT008C,IT009C,IT010C,IT011C,IT012C,IT013C,IT014C,IT015C,IT016C,IT017C,IT018C,IT019C,IT020C,IT021C,IT022C,IT023C,IT024C,IT025C,IT026C,IT027C,IT028C,IT029C,IT030C,IT031C,IT032C,IT033C,IT034C,IT035C,IT036C,IT037C,IT038C,IT039C,IT040C,IT041C,IT042C,IT043C,IT044C,IT045C,IT046C,IT047C,IT048C,IT049C,IT050C,IT051C,IT052C,IT053C,IT054C,IT055C,IT056C,IT057C,IT058C,IT059C,IT060C,IT061C,IT062C,IT063C,IT064C,IT065C,IT066C,IT067C,IT068C,IT069C,IT070C,IT071C,IT072C,IT073C,IT074C,IT075C,IT076C,IT077C,IT078C,IT079C,IT080C,IT081C,IT082C,IT083C,IT084C,IT085C,IT086C,IT087C,CY,CY001C,LV,LV001C,LV002C,LV003C,LV004C,LT,LT001C,LT002C,LT003C,LT004C,LT005C,LT006C,LU,LU001C,HU,HU001C,HU002C,HU003C,HU004C,HU005C,HU006C,HU007C,HU008C,HU009C,HU010C,HU011C,HU012C,HU013C,HU014C,HU015C,HU016C,HU017C,HU018C,HU019C,MT,MT001C,NL,NL001C,NL002C,NL003C,NL004C,NL005C,NL006C,NL007C,NL008C,NL009C,NL010C,NL011C,NL012C,NL013C,NL014C,NL015C,NL016C,NL017C,NL018C,NL019C,NL020C,NL021C,NL022C,NL023C,NL024C,NL025C,NL026C,NL027C,NL028C,NL029C,NL030C,NL031C,NL032C,NL033C,NL034C,NL035C,NL036C,NL037C,NL038C,NL039C,NL040C,NL041C,NL042C,NL043C,NL044C,NL045C,NL046C,NL047C,AT,AT001C,AT002C,AT003C,AT004C,AT005C,PL,PL001C,PL002C,PL003C,PL004C,PL005C,PL006C,PL007C,PL008C,PL009C,PL010C,PL011C,PL012C,PL013C,PL014C,PL015C,PL016C,PL017C,PL018C,PL019C,PL020C,PL021C,PL022C,PL023C,PL024C,PL025C,PL026C,PL027C,PL028C,PL029C,PL030C,PL031C,PL032C,PL033C,PL034C,PL035C,PL036C,PL037C,PL038C,PL039C,PL040C,PL041C,PL042C,PL043C,PL044C,PL045C,PL046C,PL047C,PL048C,PL049C,PL050C,PL051C,PL052C,PL053C,PL054C,PL055C,PL056C,PL057C,PL058C,PL059C,PL060C,PL061C,PL062C,PL063C,PL064C,PL065C,PL066C,PL067C,PL068C,PT,PT001C,PT002C,PT003C,PT004C,PT005C,PT006C,PT007C,PT008C,PT009C,PT010C,PT011C,PT012C,PT013C,PT014C,PT015C,PT016C,RO,RO001C,RO002C,RO003C,RO004C,RO005C,RO006C,RO007C,RO008C,RO009C,RO010C,RO011C,RO012C,RO013C,RO014C,RO015C,RO016C,RO017C,RO018C,RO019C,RO020C,RO021C,RO022C,RO023C,RO024C,RO025C,RO026C,RO027C,RO028C,RO029C,RO030C,RO031C,RO032C,RO033C,RO034C,RO035C,SI,SI001C,SI002C,SK,SK001C,SK002C,SK003C,SK004C,SK005C,SK006C,SK007C,SK008C,FI,FI001C,FI002C,FI003C,FI004C,FI005C,FI006C,FI007C,FI008C,FI009C,SE,SE001C,SE002C,SE003C,SE004C,SE005C,SE006C,SE007C,SE008C,SE010C,SE011C,SE012C,SE013C,SE014C,NO,NO001C,NO002C,NO003C,NO004C,CH,CH001C,CH002C,CH003C,CH004C,CH005C,CH006C,CH007C,CH008C,CH009C,UK,UK001C,UK002C,UK003C,UK004C,UK005C,UK006C,UK007C,UK008C,UK009C,UK010C,UK011C,UK012C,UK013C,UK014C,UK015C,UK016C,UK017C,UK018C,UK019C,UK020C,UK021C,UK022C,UK023C,UK024C,UK025C,UK026C,UK027C,UK028C,UK029C,UK030C,UK031C,UK032C,UK033C,UK034C,UK035C,UK036C,UK037C,UK038C,UK039C,UK040C,UK041C,UK042C,UK043C,UK044C,UK045C,UK046C,UK047C,UK048C,UK049C,UK050C,UK051C,UK052C,UK053C,UK054C,UK055C,UK056C,UK057C,UK058C,UK059C,UK060C,UK061C,UK062C,UK063C,UK064C,UK065C,UK066C,UK067C,UK068C,UK069C,UK070C,UK071C,UK072C,UK073C,UK074C,UK075C,UK076C,UK077C,UK078C,UK079C,UK080C,UK081C,UK082C,UK083C,UK084C,UK085C,UK086C,UK087C,UK088C,UK089C,UK090C,UK091C,UK092C,UK093C,UK094C,UK095C,UK096C,UK097C,UK098C,UK099C,UK100C,UK101C,UK102C,UK103C,UK104C,UK105C,UK106C,UK107C,UK108C,UK109C,UK110C,UK111C,UK112C,UK113C,UK114C,UK115C,UK116C,UK117C,UK118C,UK119C,UK120C,UK121C,UK122C,UK123C,UK124C,UK125C,UK126C,UK127C,UK128C,UK129C,UK130C,UK131C,UK132C,UK133C,UK134C,UK135C,TR001C,TR002C,TR003C,TR004C,TR005C,TR006C,TR007C,TR008C,TR009C,TR010C,TR011C,TR012C,TR013C,TR014C,TR015C,TR016C,TR017C,TR018C,TR019C,TR020C,TR021C,TR022C,TR023C,TR024C,TR025C,TR026C&c[TIME_PERIOD]=2022,2021,2020,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002,2001,2000,1999,1998,1997,1996,1995,1994,1993,1992,1991&compress=false&format=csvdata&formatVersion=2.0&lang=en&labels=name"
df = pd.read_csv(url)
df.to_csv("./cefi.csv", index=False)

In [52]:
df = pd.read_csv("./cefi.csv")
df[~df["OBS_VALUE"].isna()]

df = df.rename(columns={"OBS_VALUE": "enterprises", "cities": "city", "TIME_PERIOD": "year"})

df = df[["enterprises", "city", "year", "indic_ur"]]

df.to_csv("./clean_cefi.csv", index=False)

In [56]:
df = pd.read_csv("https://ec.europa.eu/eurostat/api/dissemination/sdmx/3.0/data/dataflow/ESTAT/tour_lfs1r2$defaultview/1.0?compress=false&format=csvdata&formatVersion=2.0&lang=en&labels=name")

print(df.columns)

print(df.head())

Index(['STRUCTURE', 'STRUCTURE_ID', 'STRUCTURE_NAME', 'freq', 'Time frequency',
       'nace_r2',
       'Statistical classification of economic activities in the European Community (NACE Rev. 2)',
       'wstatus', 'Labour force and employment status', 'worktime',
       'Working time', 'unit', 'Unit of measure', 'geo',
       'Geopolitical entity (reporting)', 'TIME_PERIOD', 'Time', 'OBS_VALUE',
       'Observation value', 'OBS_FLAG',
       'Observation status (Flag) V2 structure', 'CONF_STATUS',
       'Confidentiality status (flag)'],
      dtype='object')
  STRUCTURE                        STRUCTURE_ID  \
0  dataflow  ESTAT:TOUR_LFS1R2$DEFAULTVIEW(1.0)
1  dataflow  ESTAT:TOUR_LFS1R2$DEFAULTVIEW(1.0)
2  dataflow  ESTAT:TOUR_LFS1R2$DEFAULTVIEW(1.0)
3  dataflow  ESTAT:TOUR_LFS1R2$DEFAULTVIEW(1.0)
4  dataflow  ESTAT:TOUR_LFS1R2$DEFAULTVIEW(1.0)

                                      STRUCTURE_NAME freq Time frequency  \
0  Employed persons by full-time/part-time activi...    A         Annual
1  Employed persons by full-time/part-time activi...    A         Annual
2  Employed persons by full-time/part-time activi...    A         Annual
3  Employed persons by full-time/part-time activi...    A         Annual
4  Employed persons by full-time/part-time activi...    A         Annual

  nace_r2  \
0     H51
1     H51
2     H51
3     H51
4     H51

  Statistical classification of economic activities in the European Community (NACE Rev. 2)  \
0                                      Air transport
1                                      Air transport
2                                      Air transport
3                                      Air transport
4                                      Air transport

  wstatus Labour force and employment status worktime  ...   geo  \
0    CFAM        Contributing family workers       FT  ...  EA20
1    CFAM        Contributing family workers       FT  ...  EA20
2    CFAM        Contributing family workers       FT  ...  EA20
3    CFAM        Contributing family workers       FT  ...  EA20
4    CFAM        Contributing family workers       FT  ...  EA20

        Geopolitical entity (reporting) TIME_PERIOD Time OBS_VALUE  \
0  Euro area – 20 countries (from 2023)        2016  NaN       NaN
1  Euro area – 20 countries (from 2023)        2017  NaN       NaN
2  Euro area – 20 countries (from 2023)        2019  NaN       NaN
3  Euro area – 20 countries (from 2023)        2023  NaN       NaN
4  Euro area – 20 countries (from 2023)        2024  NaN       NaN

   Observation value  OBS_FLAG  Observation status (Flag) V2 structure  \
0                NaN         u                         low reliability
1                NaN         u                         low reliability
2                NaN         u                         low reliability
3                NaN         u                         low reliability
4                NaN         u                         low reliability

   CONF_STATUS Confidentiality status (flag)
0          NaN                           NaN
1          NaN                           NaN
2          NaN                           NaN
3          NaN                           NaN
4          NaN                           NaN

[5 rows x 23 columns]

In [57]:
pd.DataFrame([{}])

Empty DataFrame
Columns: []
Index: [0]

In [58]:

df = pd.read_csv("https://ec.europa.eu/eurostat/api/dissemination/sdmx/3.0/data/dataflow/ESTAT/tour_dem_extotw/1.0/*.*.*.*.*.*.*.*?c[freq]=A&c[purpose]=PER,PROF&c[duration]=N_GE1,N1-3,N_GE4&c[c_dest]=BE,DK,DE,EL,ES,FR,HR,IT,LU,NL,AT,PL,PT,RO,SI,FI,SE,IS,NO,CH,UK&c[expend]=TOTXDUR,TRA,REST,ACCOM,TRP_OTH,DUR,PACK_ARR&c[statinfo]=AVG_TRP,AVG_NGT&c[unit]=EUR&c[geo]=BE,BG,CZ,DK,DE,EE,IE,EL,ES,FR,HR,IT,CY,LV,LT,LU,HU,MT,NL,AT,PL,PT,RO,SI,SK,FI,SE,NO,CH,UK,ME,MK,AL,RS&c[TIME_PERIOD]=2023,2022,2021,2020,2019,2018,2017,2016,2015,2014,2013,2012&compress=false&format=csvdata&formatVersion=2.0&lang=en&labels=name")

In [60]:
ndf = df
df.columns

Index(['STRUCTURE', 'STRUCTURE_ID', 'STRUCTURE_NAME', 'freq', 'Time frequency',
       'purpose', 'Purpose', 'duration', 'Duration', 'c_dest',
       'Country of destination', 'expend', 'Expenditure and investment',
       'statinfo', 'Statistical information', 'unit', 'Unit of measure', 'geo',
       'Geopolitical entity (reporting)', 'TIME_PERIOD', 'Time', 'OBS_VALUE',
       'Observation value', 'OBS_FLAG',
       'Observation status (Flag) V2 structure', 'CONF_STATUS',
       'Confidentiality status (flag)'],
      dtype='object')

In [78]:
df = pd.read_csv("https://ec.europa.eu/eurostat/api/dissemination/sdmx/3.0/data/dataflow/ESTAT/tour_dem_extotw/1.0/*.*.*.*.*.*.*.*?c[freq]=A&c[purpose]=PER,PROF&c[duration]=N_GE1,N1-3,N_GE4&c[c_dest]=BE,DK,DE,EL,ES,FR,HR,IT,LU,NL,AT,PL,PT,RO,SI,FI,SE,IS,NO,CH,UK&c[expend]=TOTXDUR,TRA,REST,ACCOM,TRP_OTH,DUR,PACK_ARR&c[statinfo]=AVG_TRP,AVG_NGT&c[unit]=EUR&c[geo]=BE,BG,CZ,DK,DE,EE,IE,EL,ES,FR,HR,IT,CY,LV,LT,LU,HU,MT,NL,AT,PL,PT,RO,SI,SK,FI,SE,NO,CH,UK,ME,MK,AL,RS&c[TIME_PERIOD]=2023,2022,2021,2020,2019,2018,2017,2016,2015,2014,2013,2012&compress=false&format=csvdata&formatVersion=2.0&lang=en&labels=name")
df = df.drop(columns=["STRUCTURE", "STRUCTURE_ID", "STRUCTURE_NAME", "freq", "Time frequency", "Observation value", "OBS_FLAG", "Observation status (Flag) V2 structure", "CONF_STATUS", "Confidentiality status (flag)", "Time", "unit", "Unit of measure"])

df = df.rename(columns={"geo": "country", "OBS_VALUE": "amount", "TIME_PERIOD": "year", "Country of destination": "destination_country", "Geopolitical entity (reporting)": "country_name", "Expenditure and investment": "expenditure_and_investment"})

df.columns

Index(['purpose', 'Purpose', 'duration', 'Duration', 'c_dest',
       'destination_country', 'expend', 'expenditure_and_investment',
       'statinfo', 'Statistical information', 'country', 'country_name',
       'year', 'amount'],
      dtype='object')

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 416726 entries, 0 to 416725
Data columns (total 17 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   purpose                          416726 non-null  object
 1   Purpose                          416726 non-null  object
 2   duration                         416726 non-null  object
 3   Duration                         416726 non-null  object
 4   c_dest                           416726 non-null  object
 5   Country of destination           416726 non-null  object
 6   expend                           416726 non-null  object
 7   Expenditure and investment       416726 non-null  object
 8   statinfo                         416726 non-null  object
 9   Statistical information          416726 non-null  object
 10  unit                             416726 non-null  object
 11  Unit of measure                  416726 non-null  object
 12  geo                              416726 non-null  object
 13  Geopolitical entity (reporting)  416726 non-null  object
 14  TIME_PERIOD                      416726 non-null  int64
 15  Time                             0 non-null       float64
 16  OBS_VALUE                        156604 non-null  float64
dtypes: float64(2), int64(1), object(14)
memory usage: 54.0+ MB

In [77]:
df.head()

,purpose,Purpose,duration,Duration,c_dest,destination_country,expend,expenditure_and_investment,statinfo,Statistical information,country,country_name,year,amount
0,PER,Personal reasons,N1-3,From 1 to 3 nights,AT,Austria,ACCOM,Expenditure on accommodation,AVG_NGT,Average per night,AL,Albania,2019,22.22
1,PER,Personal reasons,N1-3,From 1 to 3 nights,AT,Austria,ACCOM,Expenditure on accommodation,AVG_NGT,Average per night,AT,Austria,2012,66.02
2,PER,Personal reasons,N1-3,From 1 to 3 nights,AT,Austria,ACCOM,Expenditure on accommodation,AVG_NGT,Average per night,AT,Austria,2013,50.64
3,PER,Personal reasons,N1-3,From 1 to 3 nights,AT,Austria,ACCOM,Expenditure on accommodation,AVG_NGT,Average per night,AT,Austria,2014,46.01
4,PER,Personal reasons,N1-3,From 1 to 3 nights,AT,Austria,ACCOM,Expenditure on accommodation,AVG_NGT,Average per night,AT,Austria,2015,51.48

In [97]:
def read_http(http_url) -> pd.DataFrame:
    response = requests.get(http_url)
    content = response.text
    content = content.replace("\t", ",").replace(",:", "")
    return pd.read_csv(StringIO(content), delimiter=",")

In [102]:
import re


def remove_alphabets(value: str) -> str:
    if isinstance(value, str):
        result = re.findall(r'^[0-9]+', value)
        return result[0] if result else '0'
    return value

In [98]:
df = read_http("https://ec.europa.eu/eurostat/api/dissemination/sdmx/2.1/data/urb_cecfi?format=TSV")

,freq,indic_ur,cities\TIME_PERIOD,1991,1992,1993,1994,1995,1996,1997,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,A,EC2021V,AT,300745,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A,EC2021V,AT001C,87071,90484,70660 d,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A,EC2021V,AT002C,10647 d,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,A,EC2021V,AT003C,10932,6896 d,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,A,EC2021V,AT004C,7622 d,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1331,A,EC2039V,UK131C,2305,2470,2685 d,2780 d,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1332,A,EC2039V,UK132C,4150,4305,4490 d,4315 d,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1333,A,EC2039V,UK133C,2180,2210 d,2175 d,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1334,A,EC2039V,UK134C,6015,6130 d,6175 d,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1335,A,EC2039V,UK135C,6090 d,6285 d,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [103]:
df = df.rename(columns={"cities\\TIME_PERIOD": "city"})
df = df.drop("freq", axis=1)
df_melted = df.melt(id_vars=['indic_ur', 'city'], var_name='year', value_name='enterprises')
df_melted["enterprises"] = df_melted["enterprises"].apply(remove_alphabets)

In [105]:
df_melted.shape

(42752, 4)

In [106]:
df_melted.isnull().sum()

indic_ur           0
city               0
year               0
enterprises    33594
dtype: int64

In [113]:
df = pd.read_csv(
        "https://ec.europa.eu/eurostat/api/dissemination/sdmx/3.0/data/dataflow/ESTAT/tour_lfs1r2/1.0/*.*.*.*.*.*?c[freq]=A&c[nace_r2]=TOTAL,H51,I,I55,N79&c[wstatus]=EMP,SAL,SELF,CFAM,NRP&c[worktime]=TOTAL,PT,FT,NRP&c[unit]=THS_PER&c[geo]=EU27_2020,EA20,BE,BG,CZ,DK,DE,EE,IE,EL,ES,FR,HR,IT,CY,LV,LT,LU,HU,MT,NL,AT,PL,PT,RO,SI,SK,FI,SE,IS,NO,CH,UK,BA,ME,MK,RS,TR&c[TIME_PERIOD]=2024,2023,2022,2021,2020,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008&compress=false&format=csvdata&formatVersion=2.0&lang=en&labels=name")

In [114]:
df = df.rename(
        columns={"Geopolitical entity (reporting)": "country_name", "TIME_PERIOD": "year", "geo": "country_code",
                 "Statistical classification of economic activities in the European Community (NACE Rev. 2)": "work_field",
                 "Working time": "working_time", "OBS_VALUE": "employees_in_thousands"})

df = df.drop(columns=["STRUCTURE", "STRUCTURE_ID", "STRUCTURE_NAME", "freq", "Time frequency", "nace_r2",
                          "Labour force and employment status", "Observation status (Flag) V2 structure", "CONF_STATUS",
                          "Confidentiality status (flag)", "unit", "Unit of measure", "worktime", "wstatus", "Time",
                           "Observation value", "OBS_FLAG"])

In [122]:
df.groupby(by=["country_name", "year", "country_code", "work_field", "working_time", "employees_in_thousands"])

(33198, 6)